@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    background-color: #07134d;
}


.container{
    display: flex;
}


.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #1e2a3a;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu h2{
    color: #ffffff;
    margin-bottom: 10px;
}


.menu button{
    text-align: left;
    background-color: #2f3e52;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.menu button:hover{
    background-color: #3b6edc;
}


.conteudo{
    margin-left: 240px;
    width: 100%;
    padding-top: 40px;
}

.exercicio{
    display: none;
    background-color: white;
    width: 600px;
    margin: 100px auto 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.exercicio h2{
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}

span {
  display: block;
  margin-bottom: 20px;
}

input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.exercicio button{
    padding: 10px 20px;
    background-color: #4de726;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.exercicio button:hover{
    background-color: #80d66a;
}


p{
    margin-top: 10px;
}